.range-wrap {
    position: relative;
    margin: 0 auto 3rem;
  }
  .range {
    width: 100%;
  }
  .bubble {
    background: rgb(53, 102, 177);
    color: white;
    padding: 2px 8px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: 18px;
    transform: translateX(-50%);
  }
  .bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(53, 102, 177);
    top: -1px;
    left: 50%;
  }

  body {
    margin: 2rem;
  }
